

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

.cercle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}
.cercle2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
}
.cercle3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
}
.cercle4{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
}
.cercle5{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
}
